<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
	var socket = io.connect('localhost:5000'); //Se conecta ao servidor
	socket.emit('requestNotifications');
	setInterval(()=>{
		console.log("PAM");
		socket.emit('requestNotifications');
	}, 300000);
	socket.on('LastNotifications', (notifications)=>{
		//console.log(notifications);	
		noti.innerHTML = '';
		for (const notification of notifications) {
			console.log(notification);
			
			noti.innerHTML += `
				<li>
					<a href="#">
						<span class="avatar bg-warning"><i class="fa fa-warning"></i></span>
						<span class="name">Alerta</span>
						<span class="desc">${notification.Mensagem}</span>
						<span class="time">30 min</span>
					</a>
				</li>
			`;
		} 
	})
</script>

<div class="fixed-navbar">
		<div class="pull-left">
			<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
			<h1 class="page-title"><%= n %></h1>
			<!-- /.page-title -->
		</div>
		<!-- /.pull-left -->
		<div class="pull-right">
			<!-- /.ico-item -->
			<a href="#" class="ico-item ti-bell notice-alarm js__toggle_open" data-target="#notification-popup"></a>
			<div class="ico-item">
				<i class="ti-user"></i>
				<ul class="sub-ico-item">
					<li><a href="../profile">Configurações</a></li>
					<li><a href="../logout">Sair</a></li>
				</ul>
				<!-- /.sub-ico-item -->
			</div>
		</div>
		<!-- /.pull-right -->
	</div>
	<!-- /.fixed-navbar -->
	
	<div id="notification-popup" class="notice-popup js__toggle" data-space="75">
		<h2 class="popup-title">Your Notifications</h2>
		<!-- /.popup-title -->
		<div class="content">
			<ul class="notice-list" id="noti">
				
			</ul>
			<!-- /.notice-list -->
			<a href="#" class="notice-read-more">Marcar todas como lidas <i class="fa fa-check-square-o"></i></a>
		</div>
		<!-- /.content -->
	</div>
	<!-- /#notification-popup -->