<div class="main-menu">
	<header class="header">
		<a href="../../" class="logo"><i class="ico ti-rocket"></i>DataBytes</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect" href="/"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="../../sensors"><i class="menu-icon ti-dashboard"></i><span>Sensores</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="../../sensors">Ver Todos</a></li>
						<li><a href="../../sensors/add">Adicionar Novo</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect" href="../../alerts"><i class="menu-icon ti-book"></i><span>Histórico de Alertas</span></a>
				</li>
				<li>
					<a class="waves-effect" href="../../users"><i class="menu-icon ti-book"></i><span>Todos os Usuários</span></a>
				</li>
			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->