<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Blank Page - SpaceX Template</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="../assets/styles/style.min.css">
	
	<!-- Themify Icon -->
	<link rel="stylesheet" href="../assets/fonts/themify-icons/themify-icons.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="../assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="../assets/plugin/sweet-alert/sweetalert.css">

	<!-- Ion Range SLider -->
	<link rel="stylesheet" href="../assets/plugin/ion-range-slider/css/ion.rangeSlider.css">
	<link rel="stylesheet" href="../assets/plugin/ion-range-slider/css/ion.rangeSlider.skinFlat.css">
	
</head>

<body>
<%- include('../includes/sidebar') -%>

<%- include('../includes/navbar') -%>
<!-- /.fixed-navbar -->


<div id="wrapper">
	<div class="main-content">
		<div class="col-md-12 col-xs-12">
			<div class="row">
					<div class="box-content card">
						<h4 class="box-title"><i class="fa fa-plus-circle ico"></i> Adicionar uma novo sensor</h4>
						<!-- /.box-title -->
						<!-- /.dropdown js__dropdown -->
						<div class="card-content mar">
							<div class="row">
								<div class="col-md-12">											
									<label for="local">Local</label>
									<input type="local" class="form-control" id="local" placeholder="Local onde o sensor está instalado">
									<!-- /.row -->
								</div>
								<div class="col-md-12 margin-top-10">
									<p class="margin-top-20">Defina a temperatura minima e máxima do sensor: </p>
									<div id="temp-slider"></div>
								</div>
								<div class="col-md-12 margin-top-10">
									<p class="margin-top-20">Defina a umidade minima e máxima do sensor: </p>
									<div id="umid-slider"></div>
								</div>
								<div class="col-md-12 margin-top-10">
									<button type="button" class="btn btn-icon btn-icon-left btn-success waves-effect waves-light btn-block"><i class="ico fa fa-check"></i>Adicionar</button>
								</div>
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-content -->
					</div>
					<!-- /.box-content card -->
				</div>
			<!-- /.row -->
		</div>
		<footer class="footer">
			<ul class="list-inline">
				<li>2016 © NinjaAdmin.</li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</footer>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../assets/scripts/jquery.min.js"></script>
	<script src="../assets/scripts/modernizr.min.js"></script>
	<script src="../assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../assets/plugin/nprogress/nprogress.js"></script>
	<script src="../assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="../assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="../assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="../assets/scripts/chart.sparkline.init.min.js"></script>

	<!-- Ion Ranger SLider -->
	<script src="../assets/plugin/ion-range-slider/js/ion.rangeSlider.min.js"></script>
	<script src="../assets/scripts/ion.rangeSlider.init.min.js"></script>

	<script src="../assets/scripts/main.min.js"></script>
</body>
</html>