<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Adicionar Sensor</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="../assets/styles/style.min.css">
	
	<!-- Themify Icon -->
	<link rel="stylesheet" href="../assets/fonts/themify-icons/themify-icons.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="../assets/plugin/waves/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="../assets/plugin/sweet-alert/sweetalert.css">

	<!-- Ion Range SLider -->
	<link rel="stylesheet" href="../assets/plugin/ion-range-slider/css/ion.rangeSlider.css">
	<link rel="stylesheet" href="../assets/plugin/ion-range-slider/css/ion.rangeSlider.skinFlat.css">
	
</head>

<body>
<%- include('../includes/sidebar') -%>

<%- include('../includes/navbar') -%>
<!-- /.fixed-navbar -->


<div id="wrapper">
	<div class="main-content">
		<div class="col-md-12 col-xs-12">
			<div class="row">
					<div class="box-content card">
						<h4 class="box-title"><i class="fa fa-plus-circle ico"></i> Adicionar uma novo sensor</h4>
						<!-- /.box-title -->
						<!-- /.dropdown js__dropdown -->
						<form action="register" method="post">
							<div class="card-content mar">
								<div class="row">
									<div class="col-md-12">											
										<label for="local">Local</label>
										<input type="local" required class="form-control" id="local" name="local" placeholder="Local onde o sensor está instalado" >
										<!-- /.row -->
									</div>
									<div class="col-md-12 margin-top-10">
										<p class="margin-top-20">Defina a temperatura minima e máxima do sensor: </p>
										<div id="temp-slider"></div>
										<input name='minTemp' id='minTemp' type="hidden" value="20">
										<input name='maxTemp' id='maxTemp' type="hidden" value="30">
									</div>
									<div class="col-md-12 margin-top-10">
										<p class="margin-top-20">Defina a umidade minima e máxima do sensor: </p>
										<div id="umid-slider"></div>
										<input name='minUmid' id='minUmid' type="hidden" value="50">
										<input name='maxUmid' id='maxUmid' type="hidden" value="80">
									</div>
										<input name='Cliente_Id' type="hidden" value="<%= user.Cliente_Id%>">
									 
									<div class="col-md-12 margin-top-10">
										<button type="submit" class="btn btn-icon btn-icon-left btn-success waves-effect waves-light btn-block"><i class="ico fa fa-check"></i>Adicionar</button>
									</div>
									
								</div>
								<!-- /.row -->
							</div>
						</form>
						<!-- /.card-content -->
					</div>
					<!-- /.box-content card -->
				</div>
			<!-- /.row -->
		</div>
		<footer class="footer">
			<ul class="list-inline">
				<li>2016 © NinjaAdmin.</li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</footer>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../assets/scripts/jquery.min.js"></script>
	<script src="../assets/scripts/modernizr.min.js"></script>
	<script src="../assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="../assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../assets/plugin/nprogress/nprogress.js"></script>
	<script src="../assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="../assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="../assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="../assets/scripts/chart.sparkline.init.min.js"></script>

	<!-- Ion Ranger SLider -->
	<script src="../assets/plugin/ion-range-slider/js/ion.rangeSlider.min.js"></script>
	<script src="../assets/scripts/ion.rangeSlider.init.min.js"></script>

	<script src="../assets/scripts/main.min.js"></script>
	<script>
		var umid = document.getElementById('umid-slider');
		var temp = document.getElementById('temp-slider');

		umid.onchange = ()=>{	
			u = umid.value.split(';');
			maxUmid.value = u[1];
			minUmid.value = u[0];			
		}
		temp.onchange = ()=>{
			t = temp.value.split(';');
			maxTemp.value = t[1];
			minTemp.value = t[0];	
		}
        function send() {
            console.log('EFETUANDO CADASTRO...');
            
            var data = new URLSearchParams(new FormData(newSensor));
            fetch('/sensor/register', {
                method: "POST",
                body: data
            }).then(function (response) {
                console.log('OPA');
                
                if (response.ok) {     
                    window.location.href = 'lala.html';
                } else {
        
                    console.log('Erro de Cadastro!');
                }
            });
        
            return false;
        }

        </script>
</body>
</html>