<%- include('../includes/head') -%>

<body>

<div id="single-wrapper">
	<form action="register" method="POST" class="frm-single">
		<div class="inside">
			<!-- /.title -->
			<div class="frm-title">Registre-se</div>
			<!-- /.frm-title -->
			<div class="frm-input"><input type="email" name="email" placeholder="Email Comercial" class="frm-inp"><i class="fa fa-envelope frm-ico"></i></div>
			<!-- /.frm-input -->
			<div class="frm-input"><input type="text" name="nome_emp" placeholder="Nome da Empresa" class="frm-inp"><i class="fa fa-industry frm-ico"></i></div>

			<div class="frm-input"><input type="text" name="cnpj" placeholder="CNPJ" class="frm-inp"><i class="fa fa-bank frm-ico"></i></div>

			<div class="frm-input"><input type="text" name="endereco" placeholder="Endereço" class="frm-inp"><i class="fa fa-map-pin frm-ico"></i></div>
			
			<div class="frm-input"><input type="text" name="telefone" placeholder="Telefone" class="frm-inp"><i class="fa fa-phone frm-ico"></i></div>
			<!-- /.frm-input -->

			<div class="frm-input"><input type="text" name="user" placeholder="Usuário Adminstrador" class="frm-inp"><i class="fa fa-user frm-ico"></i></div>

			<div class="frm-input"><input type="password" name="pass" placeholder="Senha" class="frm-inp"><i class="fa fa-lock frm-ico"></i></div>

			<div class="frm-input"><input type="password" name="key" placeholder="Key de Ativação" class="frm-inp"><i class="fa fa-shield frm-ico"></i></div>
			<!-- /.clearfix -->
			<button type="submit" class="frm-submit">Registrar<i class="fa fa-arrow-circle-right"></i></button>

			<!-- /.row -->
			<a href="../login" class="a-link"><i class="fa fa-sign-in"></i>Já é cadatrado? faça o Login</a>
			<div class="frm-footer">NinjaAdmin © 2016.</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js"></script>
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>
</body>
</html>