<%- include('../includes/head') -%>
<body>

<%- include('../includes/sidebar') -%>
<!-- /.main-menu -->

<%- include('../includes/navbar') -%>
<!-- /.fixed-navbar -->
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-md-3 col-xs-12">
				<div class="box-content bordered primary margin-bottom-20">
					<div class="profile-avatar">
						<img src="http://placehold.it/450x450" alt="">
						<h3><strong>Nome</strong></h3>
						<h4>Trabalha na empresa xxxxxx</h4>
					</div>
				</div>
				<!-- /.box-content bordered -->

				<div class="box-content">
					<h4 class="box-title"><i class="ico fa fa-dashboard	"></i>Sensores</h4>
					<ul class="profile-friends-list list-inline">
						<li><a href="#" class="avatar"><img src="http://placehold.it/128x128" alt=""></a></li>
						<li><a href="#" class="avatar"><img src="http://placehold.it/128x128" alt=""></a></li>
						<li><a href="#" class="avatar"><img src="http://placehold.it/128x128" alt=""></a></li>
						<li><a href="#" class="avatar"><img src="http://placehold.it/128x128" alt=""></a></li>
						<li><a href="#" class="avatar"><img src="http://placehold.it/128x128" alt=""></a></li>
					</ul>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-md-3 col-xs-12 -->
			<div class="col-md-9 col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="box-content card">
							<h4 class="box-title"><i class="fa fa-pencil ico"></i>Editar</h4>
							<!-- /.box-title -->
							<div class="dropdown js__drop_down">
								<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
								<ul class="sub-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else there</a></li>
									<li class="split"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
								<!-- /.sub-menu -->
							</div>
							<!-- /.dropdown js__dropdown -->
							<div class="card-content mar">
								<div class="row">
									<div class="col-md-12">											
										<label for="email">Mudar Email</label>
										<input type="email" class="form-control" id="email" placeholder="Enter your email">
										<!-- /.row -->
									</div>
									<div class="col-md-6">											
										<label for="email">Mudar Usuário</label>
										<input type="email" class="form-control" id="email" placeholder="Enter your email">
										<!-- /.row -->
									</div>
									<div class="col-md-6">											
										<label for="email">Mudar Senha</label>
										<input type="email" class="form-control" id="email" placeholder="Enter your email">
										<!-- /.row -->
									</div>
									<div class="col-md-12 margin-top-10">
										<button type="button" class="btn btn-icon btn-icon-left btn-warning waves-effect waves-light btn-block"><i class="ico fa fa-check"></i>Salvar Alterações</button>
									</div>
								</div>
								<!-- /.row -->
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.box-content card -->
						<div class="box-content card">
							<h4 class="box-title"><i class="fa fa-plus-circle ico"></i> Adicionar uma novo usuário</h4>
							<!-- /.box-title -->
							<!-- /.dropdown js__dropdown -->
							<div class="card-content mar">
								<div class="row">
									<div class="col-md-12">											
										<label for="email">Email</label>
										<input type="email" class="form-control" id="email" placeholder="Enter your email">
										<!-- /.row -->
									</div>
									<div class="col-md-6">											
										<label for="email">Usuário</label>
										<input type="email" class="form-control" id="email" placeholder="Enter your email">
										<!-- /.row -->
									</div>
									<div class="col-md-6">											
										<label for="email">Senha</label>
										<input type="email" class="form-control" id="email" placeholder="Enter your email">
										<!-- /.row -->
									</div>
									<div class="col-md-12 margin-top-10">
										<button type="button" class="btn btn-icon btn-icon-left btn-success waves-effect waves-light btn-block"><i class="ico fa fa-check"></i>Adicionar</button>
									</div>
								</div>
								<!-- /.row -->
							</div>
							<!-- /.card-content -->
						</div>
						<!-- /.box-content card -->
					</div>
				<!-- /.row -->
			</div>
			<!-- /.col-md-9 col-xs-12 -->
		</div>
		<!-- /.row small-spacing -->		
		<footer class="footer">
			<ul class="list-inline">
				<li>2016 © NinjaAdmin.</li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</footer>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="assets/scripts/jquery.min.js"></script>
	<script src="assets/scripts/modernizr.min.js"></script>
	<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/plugin/nprogress/nprogress.js"></script>
	<script src="assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="assets/plugin/waves/waves.min.js"></script>
	<!-- Sparkline Chart -->
	<script src="assets/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
	<script src="assets/scripts/chart.sparkline.init.min.js"></script>

	<script src="assets/scripts/main.min.js"></script>
</body>
</html>